/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.AppContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1.heading {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.subhead {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;
}

.createRule, .evaluateRule, .combineRules {
  margin-bottom: 30px;
}

.inside {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.custom-input-one, .custom-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.custom-input-one:focus, .custom-input:focus {
  border-color: #333;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input{
  height: 25px;
  padding: 10px;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

input[type="text"]{
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

input[type="checkbox"] {
  /* margin-bottom: 5px; */
  /* margin-top: 5px; */
}

label {
  margin-left: 5px;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  color: #333;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #444;
}


.rulesBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}